._57-x{padding:36px 0;text-align:center}
.sp_ZEGjtXZ1pIM{background-image:url(/rsrc.php/v3/yD/r/gWG-DHMKgu-.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_ZEGjtXZ1pIM.sx_ee8d98{background-position:0 0}.sp_ZEGjtXZ1pIM.sx_1d018b{background-position:0 -21px}

#bootloader_yZNKi{height:42px;}.bootloader_yZNKi{display:block!important;}